.bots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 1s all;

  &__card {
    border-radius: 5px;
    background-color: #282c34 !important;
    color: white !important;

    &__body {
      &__desc p{
        height: 5rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &__link {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        a {
          color: #EEE2DC;
          text-decoration: none;
        }
      }
      &__maintainer {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
        div {
          display: flex;
          justify-content: space-around
        }
        div span a {
          color: #EEE2DC;
          text-decoration: none;
        }
      }
    }
  }

}