.footer {
  height: 3rem;
  background-color: black;
  bottom: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 1.4rem;
    margin-left: 1rem;
  }

  &__links {
    font-size: 1.5rem;
    width: 10rem;
    display: flex;
    justify-content: space-around;
    a {
      color: white;
      text-decoration: none;
    }
  }

}